<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>BeaconList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Major_Minor</key>
				<array>
					<string>0_1</string>
					<string>0_2</string>
					<string>0_3</string>
					<string>0_4</string>
					<string>0_5</string>
					<string>0_6</string>
					<string>0_7</string>
					<string>0_8</string>
					<string>0_9</string>
					<string>0_10</string>
					<string>0_11</string>
					<string>0_12</string>
					<string>0_13</string>
					<string>0_14</string>
					<string>0_15</string>
					<string>0_16</string>
					<string>0_17</string>
					<string>0_18</string>
					<string>0_19</string>
					<string>0_20</string>
					<string>0_21</string>
					<string>0_22</string>
					<string>0_23</string>
					<string>0_24</string>
					<string>0_25</string>
					<string>0_26</string>
					<string>0_27</string>
					<string>0_28</string>
					<string>0_29</string>
					<string>0_30</string>
					<string>0_31</string>
					<string>0_32</string>
					<string>0_33</string>
					<string>0_34</string>
					<string>0_35</string>
					<string>0_36</string>
					<string>0_37</string>
					<string>0_38</string>
					<string>0_39</string>
					<string>0_40</string>
					<string>0_41</string>
					<string>0_42</string>
					<string>0_43</string>
					<string>0_44</string>
					<string>0_45</string>
					<string>0_46</string>
					<string>0_47</string>
					<string>0_48</string>
					<string>0_49</string>
					<string>0_50</string>
					<string>0_51</string>
					<string>0_52</string>
					<string>0_53</string>
					<string>0_54</string>
					<string>0_55</string>
					<string>0_56</string>
					<string>0_57</string>
					<string>0_58</string>
					<string>0_59</string>
					<string>0_60</string>
					<string>0_61</string>
					<string>0_62</string>
					<string>0_63</string>
					<string>0_64</string>
					<string>0_65</string>
					<string>0_66</string>
					<string>0_67</string>
					<string>0_68</string>
					<string>0_69</string>
					<string>0_70</string>
					<string>0_71</string>
					<string>0_72</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
