<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>BigCity_APList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>MacAddress</key>
				<array>
					<string>0_1</string>
					<string>0_2</string>
					<string>0_3</string>
					<string>0_4</string>
					<string>0_5</string>
					<string>0_6</string>
					<string>0_7</string>
					<string>0_8</string>
					<string>0_9</string>
					<string>0_10</string>
					<string>0_11</string>
					<string>0_12</string>
					<string>0_13</string>
					<string>0_14</string>
					<string>0_15</string>
					<string>0_16</string>
					<string>0_17</string>
					<string>0_18</string>
					<string>0_19</string>
					<string>0_20</string>
					<string>0_21</string>
					<string>0_22</string>
					<string>0_23</string>
					<string>0_24</string>
					<string>0_25</string>
					<string>0_26</string>
					<string>0_27</string>
					<string>0_28</string>
					<string>0_29</string>
					<string>0_30</string>
					<string>0_31</string>
					<string>0_32</string>
					<string>0_33</string>
					<string>0_34</string>
					<string>0_35</string>
					<string>0_36</string>
					<string>0_37</string>
					<string>0_38</string>
					<string>0_39</string>			
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>