<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>DS_Office_APList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>MacAddress</key>
				<array>
					<string>6c:f3:7f:13:85:34</string>
					<string>00:24:01:d1:00:26</string>
					<string>1c:7e:e5:94:03:82</string>
					<string>00:1d:73:2d:b5:68</string>
					<string>6c:f3:7f:13:84:30</string>
					<string>6c:f3:7f:13:85:30</string>
					<string>6c:f3:7f:13:84:38</string>
					<string>6c:f3:7f:db:90:60</string>
					<string>6c:f3:7f:db:90:68</string>
					<string>6c:f3:7f:13:85:38</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
